<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
</head>
<body>
<h1>This is the Home Page</h1>
<%= image_tag "supper.jpg" %>

<br>
<%= link_to 'About Page', about_path %>
</body>
</html>
